li{
    list-style-type:none;
    background-color:white;
    border:1px solid black;
    width:100px;
    margin-bottom:10px;
}
li:hover{
    background-color:yellow;
}
#ask{
    background-color:yellow;
    border:0.5px solid green;
}
#ask:hover{
    background-color:whitesmoke;
}