li{
    list-style-type:none;
    background-color:white;
    border:1px solid black;
    width:100px;
    margin-bottom:10px;
}
li:hover{
    background-color:yellow;
}
#choose{
    color:white;
    font-size:20px;
    text-align:center;
}